parameters:
    level: 1
    paths:
        - app
    tmpDir: build/phpstan
    checkMissingIterableValueType: false
    ignoreErrors:
        - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Builder#'
        - '#Access to an undefined property App\\Models\\#'