includes:
    - vendor/larastan/larastan/extension.neon
    - phpstan-baseline.neon

parameters:
    level: 1
    paths:
        - app
        - database/factories
        - database/seeders
    tmpDir: build/phpstan
    ignoreErrors:
        - '#Access to an undefined property App\\Filament\\Pages\\Settings::\$form#'